.descriptionBlock {
  padding: 10px;
}

.blockDesc {
  display: flex;
  border: 2px solid darkseagreen;
  padding: 10px 10px;
}

.photo {
  width: 40%;
}
.dataUser {
  width: 100%;
}

.title {
  text-align: center;
}
.subtitle {
  text-align: center;
}
.contacts {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.titleContacts {
  align-self: center;
  margin-bottom: 15px;
}
.blockContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.pair {
  width: 300px;
  display: flex;
  justify-content: space-between;
}